<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true" >
<Properties>
<Property name="filename">./logs/Log.log</Property>
</Properties>
<Appenders>
<Appender type="Console" name="STDOUT" >
<Layout type="PatternLayout" pattern="%d{MM-dd-yyyy HH:mm:ss} [%t] %-5level %logger{36}\t:\t %msg%n"/>

</Appender>
<Appender type="File" name="File" fileName="${filename}">
<Layout type="PatternLayout" pattern="%d{MM-dd-yyyy}%d{ HH:mm:ss} [%t] %-5level %logger\t:\t %msg%n\n"/>

</Appender>
</Appenders>

<Loggers>

<Root level="info">
<AppenderRef ref="File"/>
</Root>
</Loggers>

</Configuration>